*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
}
.container{
    width: 25%;
    background-color: #FFF;
    margin: 13rem auto 0;
    border: 1px solid #BE2EDD;
    border-radius: .5rem;
    padding: 2rem;
}
.menu{
    width: 100%;
}
.en-tete{
    text-align: center;
}
h1{
    margin: 1rem;
    font-weight: 100;
    color: #F0932B;
}
h1 span{
    color: #BE2EDD;
}
h3{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}
.bilan{
    margin: 0 0 1rem 0;
}
label{
    line-height: 2.5;
    font-size: .9rem;
}