*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333d3;
}
.container{
    width: 28%;
    background-color: #FFF;
    margin: 13rem auto 0; 
    border: 1px solid #2e2d2d5d;
    border-radius: 4px;
    padding: 1rem;   
}
.menu{
    width: 100%;
}
.en-tete{
    text-align: center;
}
h1{
    margin: 2rem;
    font-weight: 100;
    color: #F0932B;
}
h1 span{
    color: #BE2EDD;
}
h3{
    font-weight: 300;
}
.bilan{
    margin-top: 2rem;
}
.horraire{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.horraire div{
    width: 43%;
    margin: 1rem;
}
.bilan label{
    margin: 1rem;
    line-height: 2.5;
}
.pay{
    text-align: center;
    padding: .5rem;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn button{
    height: 4.5vh;
    width: 15vw;
    margin: 0 0 1rem 0;
    background-color: #BE2EDD;
    border-radius: 5px;
    color: #FFF;
    border: none;
}
.horraire button{
    height: 4.5vh;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    color: #000000b5;
    border: 1px solid #F0932B;
}





.modal-container{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh; 
    transition: visibility 0.4s;
}
.modal-container.active{
    display: block;
    transition: visibility 0s;
    visibility: visible;
}
.overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d8;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 100s ease-out;
}
.modal{
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,calc(-50% - 50px));
    transition: opacity 0.4s ease-out;
    transform: 0.4s 0.2s ease-out;
}
.modal-container.active .modal{
    opacity: 1;
    transform: translate(-50%,-50%);
    transition: opacity 0.4s 0.2s ease-out;
    transform:  0.4s 0.2s ease-out;
}
.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    color: #FFF;
}
.modal h1{
    margin-bottom: 10px; 
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}